* {
  color: antiquewhite;
}

section {
  background-color: #7c7380;
}

nav {
  background-color: #7c7380;
}

nav .nav-link {
  color: white;
}

.card img {
  height: 150px;
}

.card-body {
  background-color: #c133ff;
}

footer {
  background-color: #c133ff;
}

label {
  background-color: #c133ff;
}
